.feed-form {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1140px;
    margin-top: 71px;
    input {
        margin: 68px 10px 60px 0px;
        height: 50px;
        width: 270px;
        border-radius: 20px;
        border: 1px grey solid;
        padding: 0 20px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 300;
    }
    &_consultation {
        border-left: 1px solid #d0d0d0;
        border-right: 1px solid #d0d0d0;
        /* border-bottom */
        background: linear-gradient(#d0d0d0, #d0d0d0), linear-gradient(#d0d0d0, #d0d0d0) ,linear-gradient(#d0d0d0, #d0d0d0), linear-gradient(#d0d0d0, #d0d0d0);;
        background-size: 470px 1px, 470px 1px;
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right bottom, left top, right top;
    }
    &_questions {
        background-color: rgba($color: #ffff, $alpha: 0.7);
        margin-top: 0px;
        flex-wrap: wrap;
        padding-top: 18px;
        justify-content: none;
        width: 100%;
        height: 250px;
        input {
            margin-top: 0px;
            width: 268px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid rgba(0,0,0,0.21);
        }
        .big {
            margin: -75px 0px 0px 0px;
            width: 813px;
            height: 71px;
            border-radius: 10px;
            padding: 15px 15px;
        }
    }
    &_modal {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: 300px;
        input {
            width: 100%;
            height: 100px;
            margin: 10px 0px 10px 0px;
            border-radius: 5px;
            background-color: #ffffff;
            margin-top: 0;
        }
    }
    &_order {
        margin-top: 0px;
        min-height: 220px;
        display: inline-block;
        label {
            height: 100px;
            margin-left: 20px;
            font-weight: 700;
            font-size: 22px;
            color: #2B2B2B;
            line-height: 1.36;
            input {
                display: flex;
                width: 270px;
                height: 40px;
            }
            .from, .where{
                width: 340px;
            }   
            select {
                display: flex;
                width: 270px;
                height: 40px;
                font-size: 14px;
                margin: 10px 0px 10px 0px;
                border-radius: 5px;
                background-color: #ffffff;
                margin-top: 0;
            }
            i.fas {
                width: 36px;
                height: 26px;
                line-height: 100px;
                text-align: center;
                margin-right: -26px;
                position: relative;
                z-index: 1;
                float: left;
            }                
            i.fas + input {
                padding-left: 33px;
            }
        }

    }
}