.round {
    margin: 0 auto;
    width: 102px;
    height: 102px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    &_icon {
        padding-top: 21px;
        display: block;
        margin: 0 auto;
    }
}