.title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    text-align: center; 
    &_agent {
        margin-top: 20px;
        color: #ffffff;
    }
    &_consultation {
        font-size: 28px;
        font-weight: 400;
    }
}

.line {
    
    width: 148px;
    height: 2px;
    background-color: $main-color;
    margin: 0 auto;
    margin-top: 20px; 
}

.subtitle {
    font-size: 21px;
    font-weight: 300;
    color: #2e2e2e;
    margin-top: 17px;
    text-align: center;
    &_agent {
        font-size: 19px;
        color: #ffffff;
        margin-top: 22px;
    }
}